policy_module(raven, 1.100.1)

########################################
#
# Declarations
#

type th3_t;
type th3_exec_t;
init_daemon_domain(th3_t, th3_exec_t)

permissive th3_t;

type th3_initrc_exec_t;
init_script_file(th3_initrc_exec_t)

type th3_conf_t;
files_type(th3_conf_t)

type th3_var_lib_t;
files_type(th3_var_lib_t)

type th3_var_run_t;
files_type(th3_var_run_t)

type th3_port_t;
corenet_port(th3_port_t)

########################################
#
# raven local policy
#
allow th3_t self:process { fork };

allow th3_t self:fifo_file rw_fifo_file_perms;
allow th3_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(th3_t, th3_conf_t, th3_conf_t)
manage_files_pattern(th3_t, th3_conf_t, th3_conf_t)

manage_dirs_pattern(th3_t, th3_var_lib_t, th3_var_lib_t)
manage_files_pattern(th3_t, th3_var_lib_t, th3_var_lib_t)
files_var_lib_filetrans(th3_t, th3_var_lib_t, { dir file })

manage_dirs_pattern(th3_t, th3_var_run_t, th3_var_run_t)
manage_files_pattern(th3_t, th3_var_run_t, th3_var_run_t)

sysnet_dns_name_resolve(th3_t)
corenet_all_recvfrom_unlabeled(th3_t)

allow th3_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(th3_t)
corenet_tcp_sendrecv_generic_node(th3_t)
corenet_tcp_sendrecv_all_ports(th3_t)
corenet_tcp_bind_generic_node(th3_t)

gen_require(`
    type th3_port_t;
')
allow th3_t th3_port_t:tcp_socket name_bind;

gen_require(`
    type th3_port_t;
')
allow th3_t th3_port_t:tcp_socket name_connect;

domain_use_interactive_fds(th3_t)

files_read_etc_files(th3_t)

miscfiles_read_localization(th3_t)

sysnet_dns_name_resolve(th3_t)

allow th3_t th3_exec_t:file execute_no_trans;
allow th3_t self:process setsched;
corecmd_exec_ls(th3_t)
corenet_tcp_connect_http_port(th3_t)
dev_read_urand(th3_t)
fs_getattr_xattr_fs(th3_t)
kernel_read_system_state(th3_t)
